.container {
  display: flex;
  flex-direction: column;
}
.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.navigation {
  max-width: 50%;
  max-height: 3.8rem;
  overflow-y: hidden;
}
.title {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
}
.button {
  display: inline-block;
  flex-direction: row;
  height: 100%;
  margin: 10px 20px;
  position: relative;
}
.promotion {
  margin: 2px solid grey;
}
